body {
  background: rgb(229, 229, 229);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap {
  display: flex;
  width: 95%
}
.toolbar {
  margin: 12px 0px;
  width: 28vw;
}
h6 {
  padding: 10px;
  margin-bottom: 10px;
}
.bar-chart {
  height: 40vh;
  width: 65vw;
  padding: 20px;
}
.line-chart {
  height: 40vh;
  width: 65vw;
  padding: 20px;
}
.pie-chart {
  height: 40vh;
  width: 65vw;
  padding: 20px;
}
.table {
  height: 30vh;
  width: 28vw;
}