body {
  background: rgb(229, 229, 229);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap {
  width: 95%
}

.toolbar {
  margin: 12px 0px;
  width: 28vw;
}

h6 {
  padding: 10px;
  margin-bottom: 10px;
}

.viz-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.bar-chart {
  height: 40vh;
  width: 65vw;
  padding: 20px;
}

.line-chart {
  height: 40vh;
  width: 65vw;
  padding: 20px;
}

.pie-chart {
  height: 40vh;
  width: 65vw;
  padding: 20px;
}

.table {
  height: 30vh;
  width: 28vw;
}

#exportButton {
  width: 60px;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  background-color: #3a7ec7;
  /* Change background color on hover */
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}